.header {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #00000033;
}

.actions-group {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 185.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_purple, .button_white{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 36px;
  width: 170px;
  margin-left: 20px;
  border-radius: 7px;
  border: 1px solid #7A0CE8;
}

.button_purple {
  background-color: #7A0CE8;
  color: #FFFFFF;  
}

.button_white {
  background-color: #F9F9F9B2;
  text-align: center;
  
}

.bottom {
  padding-top: 37px;
}

.nav-list {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

